# 8. 통계적 가설 검정 (Statistical Hypothesis Test)
추론통계 (Inferential Statistics) : 단순히 숫자를 요약하는 것이 아닌, 어떤 값이 발생한 확률을 계산하는 통계 분석 기법
- 데이터에서 성별에 따라 월급에 차이가 있는 것으로 나타나는 경우, 이런 차이가 우연히 발생할 확률을 계산
- 만약 이런 차이가 우연히 나타날 확률이 작다면 성별에 따른 월급 차이가 통계적으로 유의하다고 결론
- 반대로 이런 차이가 우연히 나타날 확률이 크다면 성별에 따른 월급 차이가 통계적으로 유의하지 않다고 결론

기술통계 (Descriptive Statistics) : 데이터를 요약해 설명하는 통계 분석 기법
- 사람들이 받는 월급을 집계해 전체 월급 평균을 구함

유의 확률 (Significance Probability, p-value)
- 실제로는 집단 간 차이가 없는데 우연히 차이가 있는 데이터가 추출될 확률을 의미

t검정 (t-test)
- 두 집단의 평균에 통계적으로 유의한 차이가 있는지 알아볼 때 사용하는 통계분석 기법

In [1]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')

# 기술 통계 분석
# compact, suv 추출
# category별 분리
# 빈도 구하기
# cty 평균 구하기
mpg.query('category in ["compact", "suv"]').groupby('category', as_index = False).agg(n = ('category', 'count'), mean = ('cty', 'mean'))

  category   n      mean
0  compact  47  20.12766
1      suv  62  13.50000

In [2]:
compact = mpg.query('category == "compact"')['cty']
suv = mpg.query('category == "suv"')['cty']

In [3]:
# t-test
from scipy import stats
stats.ttest_ind(compact, suv, equal_var = True)

TtestResult(statistic=11.917282584324107, pvalue=2.3909550904711282e-21, df=107.0)